@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<nav>
    <ul>
        <li><a href="#">Navigation</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Links</a></li>
    </ul>
</nav>

<div class="container" style="border-style: solid; font-size: 20px; position:relative">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="row, text-center">Technologys</div>
        </div>
        <div class="col-sm-4">
            <div class="row, text-center">Technologys</div>
        </div>
        <div class="col-sm-4">
            <div class="row, text-center">Technologys</div>
        </div>
    </div>
</div>

