@{
    ViewBag.Title = "About";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
    
<nav>
    <ul>
        <li><a href="#">Navigation</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Links</a></li>
    </ul>
</nav>

<div class="container" style="border-style: solid; font-size: 20px; position:relative">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="row, text-center"><button class="btn-group-justified" onclick="ola">Language</button> </div>
        </div>
        <div class="col-sm-4">
            <div class="row, text-center">Technologys</div>
        </div>
        <div class="col-sm-4">
            <div class="row, text-center">Languages</div>
        </div>
    </div>
</div>


@{
    <div class="container" id="ola">
        <h4>Technology Skills</h4>
        <hr />
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Technology Id</th>
                    <th>Technology</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ola123</td>
                    <tr>
                        <td>2</td>
                        <td>o23la123</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ola123</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>ola123</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>ola123</td>
                    </tr>
                    </tr>
                </tbody>
        </table>
        <div class="form-group">
            <label>Add Technology:</label>
            <input type="text" name="VTS" />
            <input type="submit" />
        </div>
        <div class="form-group">
            <label>Delete Technology:</label>
            <input type="text" name="DVTS" />
            <input type="submit" />
        </div>
    </div>
}
