
@{
    ViewBag.Title = "Create Ad Failed";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Create Ad Failed!</h4>
    <p>Something went wrong, don't forget that you can only have 3 active advertisements</p>
    <hr>
</div>