
@{
    ViewBag.Title = "Login Failed";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Login Failed!</h4>
    <p>Email and password do not match, or something went wrong with the website, in this case try to login later. </p>
    <hr>
</div>

