@{
    ViewBag.Title = "Logout Failed";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Logout Failed!</h4>
    <p>Something went wrong. Try to logout again. </p>
    <hr>
</div>

