
@{
    ViewBag.Title = "Registered Failed";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Registered Failed!</h4>
    <p>Email or Username already exist, or something went wrong with the website, in this case try to Registere later. </p>
    <hr>
</div>
