
@{
    ViewBag.Title = "Successfully Registered";
}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Your account has been successfully created! You can buy now: services, websites, desktop apps, mobile apps etc...</p>
    <hr>
</div>

