<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkStation___DAL.Properties.Settings.connec" connectionString="Server=DESKTOP-NCHVQP4; Database=WorkStationDB; uid=sa; pwd=SQL_;" />
    </connectionStrings>
</configuration>